.update__btn {
  display: flex;
  justify-content: right;
}

.card_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* z-index: 102; */
  background: var(--primary);
}

.form_container_small,
.form_container_large {
  max-width: 100%;

  padding: 2rem 3rem;
  border: 1px solid var(--border);
  background: #fff;
  transition: all 0.5s ease-in-out;
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
}

.form_container_small {
  width: 45rem;
  top: 40%;
  /* margin: 10rem auto; */
}

.form_container_large {
  width: 60%;
  top: 46%;
  /* margin: 2rem auto 1rem auto; */
}

.title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 9rem 0 1rem 0;
}

.subtitle {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary);
  transition: all 0.5s ease-in-out;
}

.switch {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

/* .form_container_large {
  width: 60%;
  max-width: 100%;
  margin: 10rem auto 1rem auto;
 
} */

.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

/* .radio {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.radio span {
  margin-left: 0.2rem;
} */

.form_control label {
  font-size: 1.4rem;
  font-weight: 500;
}

.required_field {
  color: #dc143c;
}

.form_control .input,
.form_control .select {
  padding: 1.2rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  /* font-size: 1.5rem; */
  font-weight: 500;
}

.form_control .input:focus,
.form_control .select:focus {
  border: 1px solid var(--primary);
}

.form_control .input.error,
.form_control .select.error {
  border-color: #dc143c;
}

.form_control .input.success {
  border-color: #228b22;
}

.form_control small {
  color: #dc143c;
  margin-top: 0.25rem;
  margin-top: -0.1rem;
  font-size: 1.3rem;
}

.btn_container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.link_container {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.link_btn {
  color: var(--primary);
  font-weight: 600;
}

.link_btn:hover {
  color: var(--secondary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: underline;
}

/* button {
  padding: 0.8rem 2rem;
  border-radius: 0.4rem;
  border: none;
  background: #690035;
  color: #fff;
}

button:hover {
  background: #003803;
  cursor: pointer;
} */

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 53%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 52%;
  }

  .form_container_large {
    width: 85%;
    /* margin: 2rem auto 1rem auto; */
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .form_container_large {
    width: 90%;
    /* margin: 2rem auto 1rem auto; */
  }
}

@media (max-width: 414px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 314px) {
  html {
    font-size: 48%;
  }
}
