:root {
  --primary: #690035;
  --secondary: #003803;
  --bg-color: #fff;
  --bg-color2: #eee;
  --header-color: rgba(255, 255, 255, 0.651);
  --border: #e5e4e7;
  --text-color: #16171d;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --secondary2: rgb(230, 199, 0);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  font-family: "Inter", sans-serif, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  /* font: 18px/145% var(--sans); */
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text-color);
  background: var(--bg-color2);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* @media (max-width: 1024px) {
    font-size: 16px;
  } */
}

html {
  font-size: 58.5%;
  scroll-behavior: smooth;
  /* transition: all 0.5s ease-in-out; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--bg-color2);
}

[data-theme="dark"] {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --text: #f4f3ec; /*#f4f3ec*/
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

/*======== Toast Notification styles starts =========*/
.Toastify__toast-container {
  margin-top: 5.8rem;
}

.Toastify__close-button {
  color: var(--text);
  opacity: 1;
}

.Toastify__close-button > svg {
  fill: var(--text);
}

.Toastify__close-button > svg:hover {
  fill: #ff0000; /* change color on hover */
}
/*======== Toast Notification styles ends =========*/

@media (max-width: 992px) {
  html {
    font-size: 53%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 52%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 314px) {
  html {
    font-size: 48%;
  }
}

/* #root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
 
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  
} */

/* h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
} */

/* h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
} */

/* h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
} */
